"Remaps Esc to jk key"
imap jk <Esc>
imap kj <Esc>

nmap ; :
noremap ;; ;
""" nnoremap ss i<space><Esc>
nnoremap zzz :wq<cr>
nnoremap zz :w<cr>
nnoremap noh :noh<cr>

" Tab and S-Tab to indent/unindent in visual mode.
vnoremap <Tab> >gv
vnoremap <S-Tab> <gv
nnoremap <Tab> >>
noremap <S-Tab> <<

set visualbell
set easymotion
set surround
set NERDTree
set multiple-cursors
set commentary
set ReplaceWithRegister
set argtextobj
set exchange
set textobj-entire
set highlightedyank
set vim-paragraph-motion
set textobj-indent
set matchit
set which-key

set notimeout
set timeoutlen = 5000

""" Map leader to space ---------------------
let mapleader=" "

""" Plugins  --------------------------------
set clipboard=unnamedplus
set ignorecase
set smartcase

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"
let g:highlightedyank_highlight_duration = "1000"
let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu
set number
set relativenumber
set hlsearch

""" Idea specific settings ------------------
set ideajoin
set ideamarks
set idearefactormode=keep
set ideastatusicon=gray

""" Mappings --------------------------------
map <leader><leader> <Action>(GotoAction)
map blame <Action>(Annotate)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>c <Action>(Stop)
map <leader>d <Action>(Debug)
map <leader>e <Plug>(easymotion-f)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <leader>o <Action>(FileStructurePopup)
map <leader>r <Action>(RenameElement)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <C-m> <Action>(MoveEditorToOppositeTabGroup)

map f <Plug>(easymotion-s)
map ff <Action>(GotoFile)
map max <Action>(MaximizeEditorInSplit)
